<ul class="nav pull-right">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <li class="navbar-text pull-right">
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
    </li>
    <li class="divider-vertical"></li>
    <li>
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    </li>
{% else %}
    <li class="divider-vertical"></li>
    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
{% endif %}
</ul>
