{% extends 'LacrocoStoreBundle:Default:layout.html.twig' %}
{% block title %}Корзина покупок{% endblock %}
{% block body %}
<div class="page-header">
<h1>Your cart. <small>What we have here, hm?</small></h1>
</div>

{% if not cart.empty %}
<div class="alert alert-info">
<strong>{{ cart.totalItems }}</strong> items, <strong>{{ cart.value }}</strong> &euro;...
</div>

{{ form_errors(form) }}

<form method="post" action="{{ path('chewbacca_cart_save') }}">
{% for product in cart.products %}
<div class="well">
    <h3>{{ product.title }}</h3>
    {{ product.description }}
    <hr />
    <div class="pull-left">
    <ul class="unstyled">
        {% for item in product.cartItems %}
        <li><strong>{{ item.productSet.Id }}</strong>: {{ item.productSet.Id }}</li>
        {% endfor %}
    </ul>
    </div>
    <div class="cart-actions pull-right">
    Set <strong>quantity</strong>... {{ form_widget(form.items[loop.index0].quantity, {'attr': {'class': 'span2 center-text'}}) }}
     or
    <a href="{{ path('chewbacca_cart_item_remove', {'id': item.id}) }}" class="btn btn-danger">remove...</a>
    </div>
    <br /> <br /> <br />
</div>
{% endfor %}
{{ form_rest(form) }}
<input type="submit" class="btn btn-primary btn-large" value="save">
<div class="pull-right">
<a href="#" class="btn btn-success btn-large">order it!</a>
<a href="{{ path('chewbacca_cart_clear') }}" class="btn btn-danger btn-large">clear cart</a>
</div>
</form>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'alert.heading.info'|trans({}, 'SandboxCoreBundle') }}.</h4>
    Your cart is empty.
</div>
{% endif %}
{% endblock %}