<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>nestedSortable jQuery Plugin</title>
	<meta name="description" content="Demo page of the Nested Sortable jQuery Plugin">
	<meta name="author" content="Manuele J Sarfatti">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>

<!--<script type="text/javascript" src="http://mjsarfatti.com/sandbox/nestedSortable/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="http://mjsarfatti.com/sandbox/nestedSortable/jquery-1.5.2.min.js"></script>

-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	{% javascripts
	    '@ChewbaccaBackendCoreBundle/Resources/public/js/*'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<style type="text/css">

		html {
			background-color: #eee;
		}

		body {
			color: #333;
			background-color: #fff;
			font-size: 13px;
			font-family: "Helvetica Neue", Corbel, "Nimbus Sans L", Helvetica, Arial, sans-serif;
			padding: 2em 4em;
			width: 860px;
			margin: 0 auto;
		}


		.placeholder {
			border: 1px dashed #11758a;
			background:#f7fcff;
		}

		.ui-nestedSortable-error {
			background:#fff7f7;
			border: 1px dashed #8a1f11; color:#8a1f11;
		}

		ol {
			margin: 0;
			padding: 0;
			padding-left: 30px;
		}

		ol.sortable, ol.sortable ol {
			margin: 0 0 0 25px;
			padding: 0;
			list-style-type: none;
		}

		ol.sortable {
			margin: 4em 0;
		}

		.sortable li {
			margin: 7px 0 0 0;
			padding: 0;
		}

		.sortable li div  {
			border: 1px solid black;
			padding: 3px;
			margin: 0;
			cursor: move;
		}

		dl {
			margin: 0;
		}

		dd {
			margin: 0;
			padding: 0 0 0 1.5em;
		}

		code {
			background: #e5e5e5;
		}

		input {
			vertical-align: text-bottom;
		}

		.notice {
			color: red;
		}

	</style>


<body>
<form action="{{ path('categories', { 'root_slug': root.slug }) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
<section id="demo">
<ol class="sortable">
{% set prevLvl = 0 %}
{% for node in tree %}
	{% if prevLvl > 0 and node.getLvl == prevLvl %}
		</li>
	{% endif %}
	{% if node.getLvl > prevLvl %}
		<ol>
	{% elseif (node.getLvl < prevLvl) %}
		{% for i in range(1, prevLvl - node.getLvl) %}
			</ol></li>
		{% endfor %}
	{% endif %}
	<li id="list_{{ node.getId }}">
		<div><a href="#">{{ node.getTitle }}</a> {{ node.getId }} <a href="{{ path('categories_delete', { 'node_id': node.getId }) }}">удалить</a></div>
	{% set prevLvl = node.getLvl %}
{% endfor %}
</ol>
<p>
	<input type="submit" name="save" id="save" value="save" />
	<pre id="toArrayOutput"></pre>
</p>
</section>

<script>

	$(document).ready(function(){

		$('ol.sortable').nestedSortable({
			disableNesting: 'no-nest',
			forcePlaceholderSize: true,
			handle: 'div',
			helper: 'clone',
			items: 'li',
			maxLevels: 0,
			opacity: .6,
			placeholder: 'placeholder',
			revert: 250,
			tabSize: 25,
			tolerance: 'pointer',
			toleranceElement: '> div'
		});

		$('#save').click(function(e){
			serialized = $('ol.sortable').nestedSortable('serialize');
			$.post("{{ path('categories_save_tree', { 'root_slug': root.slug }) }}",
				serialized,
				function(data) {
					$('.result').html(data);
			});
		})

	});

</script>
